@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="navbar navbar-expand-sm navbar navbar-expand-lg navbar navbar-expand-md mb-4 ">
    <div class="container d-flex justify-content-between ">
        <div class="navbar-brand mx-auto">Paşa Home</div>
        <ul class="navbar-nav me-1 mr-auto">
            <li class="nav-item">
                <a asp-action="_Login" asp-controller="Home" class="nav-link">Log İn</a>
            </li>
            <li class="nav-item">
                <a asp-action="_Sigin" asp-controller="Home" class="nav-link">Sign Up</a>
            </li>
            <li class="nav-item">
                <a asp-action="Cart" asp-controller="Home" class="nav-link">
                    <i class="fas fa-shopping-cart"> Sepetim</i>
                </a>
            </li>
        </ul>
    </div>
</div>

 